name: 'Publish every Git push to master to FlakeHub'
on:
  push:
    branches:
      - 'master'
jobs:
  flakehub-publish:
    runs-on: 'ubuntu-latest'
    permissions:
      id-token: 'write'
      contents: 'read'
    steps:
      - uses: 'actions/checkout@v4'
      - uses: 'DeterminateSystems/nix-installer-action@v20'
      - uses: 'DeterminateSystems/flakehub-push@v5'
        with:
          name: 'VijayakumarRavi/vjvim'
          rolling: true
          visibility: 'public'
          include-output-paths: true
